doctype 5
html(ng-app="myApp")
  head
    title Chat
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/styles.css')
  body
    block content