!!! 5
html(ng-app='ca', ng-controller='SettingsCtrl')
  head
    title Chat panel
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/admin/css/app.css', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js', type='application/javascript')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js', type='application/javascript')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js', type='application/javascript')
    script(src='/socket.io/socket.io.js', type='application/javascript')
    script(src='/admin/js/app.js', type='application/javascript')
    script(src='/admin/js/controllers.js', type='application/javascript')
    script(src='/admin/js/directives.js', type='application/javascript')
    script(src='/admin/js/filters.js', type='application/javascript')
    script(src='/admin/js/services.js', type='application/javascript')
  body
    .col-lg-12
      .col-lg-12
        h3.pull-left Chat settings
        h3.pull-right.text-error Online:
          | &nbsp;
          strong {{users.length}}
      .clearfix
      .col-lg-4
        h4 Millennium Falcon controls
        .form-horizontal
          .form-group
            label.col-lg-4.control-label Clear all the chat data
            .col-lg-8
              button.btn.btn-default(ng-click='reset()') Reset
          .form-group
            .col-lg-offset-4.col-lg-8
              .checkbox
                label
                  input(type='checkbox', ng-model='chatDisabled')
                  | Chat disabled
          .form-group
            .col-lg-offset-4.col-lg-8
              .checkbox
                label
                  input(type='checkbox', ng-model='hidden')
                  | Chat hidden
          .form-group
            .col-lg-offset-4.col-lg-8
              .checkbox
                label
                  input(type='checkbox', ng-model='silentUserEnterLeave')
                  | Show enter/leave messages
          .form-group
            label.col-lg-4.control-label(for='txtCoolDown') Cool down timeout:
            .col-lg-8.input-group
              input.form-control(id='txtCoolDown', min='1000', type='number', ng-model='coolDownTimeout')
              span.input-group-addon ms
          .form-group
            label.col-lg-4.control-label(for='txtMaxMessagesPerMin') Max messages/minute:
            .col-lg-8
              input.form-control(id='txtMaxMessagesPerMin', min='1', type='number', ng-model='maxMessagesPerMin')
          .form-group
            label.col-lg-4.control-label(for='txtSavedMessagesCount') Messages history size:
            .col-lg-8
              input.form-control(id='txtSavedMessagesCount', min='10', type='number', ng-model='savedMessagesCount')
          .form-group
            label.col-lg-4.control-label(for='txtChatWidth') Chat width:
            .col-lg-8.input-group
              input.form-control(id='txtChatWidth', min='400', type='number', ng-model='chatWidth')
              span.input-group-addon px
          .form-group
            label.col-lg-4.control-label(for='txtChatHeight') Chat height:
            .col-lg-8.input-group
              input.form-control(id='txtChatHeight', min='100', type='number', ng-model='chatHeight')
              span.input-group-addon px
        h4 Allowed URL domains
        table.table.table-bordered
          thead
            th Domain
            th Actions
          tbody
            tr(ng-repeat='domain in allowedURLDomains')
              td {{domain | cut:60}}
              td
                a.btn.btn-danger(ng-click='removeDomain($index)') Remove
            tr(ng-show='!allowedURLDomains.length')
              td(colspan='3') No URL domains defined
        .input-group.col-lg-6.no-gutter
          input.form-control(type='text', ng-model='newDomain')
          span.input-group-btn
            a.btn.btn-success(ng-click='addDomain()') Add domain
        .clearfix
        h4 Domains allowed to run chat
        table.table.table-bordered
          thead
            th Domain
            th Actions
          tbody
            tr(ng-repeat='domain in allowedDomains')
              td {{domain | cut:60}}
              td
                a.btn.btn-danger(ng-click='removeAllowed($index)') Remove
            tr(ng-show='!allowedDomains.length')
              td(colspan='3') No allowed domains, your chat won't work anywhere! :)
        .input-group.col-lg-6.no-gutter
          input.form-control(type='text', ng-model='newAllowed')
          span.input-group-btn
            a.btn.btn-success(ng-click='addAllowed()') Add domain
        .clearfix
      .col-lg-4
        h4 Blacklist
        table.table.table-bordered
          thead
            th Text
            th Actions
          tbody
            tr(ng-repeat='rude in blacklist')
              td {{rude}}
              td
                a.btn.btn-danger(ng-click='removeRude($index)') Remove
            tr(ng-show='!blacklist.length')
              td(colspan='3') No rude words o_O!
        .input-group.col-lg-6.no-gutter
          input.form-control(type='text', ng-model='newRude')
          span.input-group-btn
            a.btn.btn-success(ng-click='addRude()') Add word
        .clearfix
      .col-lg-4
        h4 Banned IP addresses
        table.table.table-bordered
          thead
            th IP
            th Actions
          tbody
            tr(ng-repeat='ip in bannedIPs')
              td {{ip}}
              td
                a.btn.btn-danger(ng-click='removeIP($index)') Remove
            tr(ng-show='!bannedIPs.length')
              td(colspan='3') No IPs in banlist
        .input-group.col-lg-6.no-gutter
          input.form-control(type='text', ng-model='newIP')
          span.input-group-btn
            a.btn.btn-success(ng-click='addIP()') Add IP
        .clearfix
        h4 Users
        table.table.table-bordered
          thead
            th User name
            th IP
            th Actions
          tbody
            tr(ng-repeat='user in users | orderBy:name')
              td {{user.name}}
              td {{user.ip}}
              td
                a.btn.btn-danger(ng-click='ban($index)') Ban
            tr(ng-show='!users.length')
              td(colspan='3') No online users