body {
  margin-top: 40px;
}

.chat-app {
  position: relative;
}

.chat-app .panel-body {
  overflow: visible;
}

.chat-app .blocker {
  position: absolute;
  z-index: 100500;
  width: 100%;
  height: 100%;
}

.chat-app .messages {
  overflow-y: auto;
  margin-bottom: 5px;
}

.chat-app .messages p {
  margin-bottom: 0;
}

.chat-app .bold {
  font-weight: bold;
}

.chat-app .users p {
  line-height: 20px;
  margin: 10px 10px 10px 0;
}

.chat-app .users a {
  cursor: pointer;
}

.chat-app .users ul {
  margin: 0;
  padding: 0;
  list-style: none inside none;
  overflow-y: auto;
}

.chat-app .user ul > li:first-child {
  margin-left: 10px;
}

.chat-app .popover-smiles {
  margin-top: 5px;
}

.chat-app .popover-smiles .panel-body {
  text-align: justify;
}

.chat-app .popover-smiles .panel-body > span {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  height: 22px;
  margin-right: 9px;
  margin-bottom: 5px;
  width: 22px;
}