body {
  margin-top: 40px;
}

.chat-app {
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.428571429;
  color: #2c3e50;
  background-color: #ffffff;
}

.chat-app .nav-tabs, .chat-app .panel, .chat-app .nav-tabs li.active a {
  border-color: #dddddd;
}

.chat-app .nav-tabs li.active a {
  border-bottom-color: transparent;
}

.chat-app .nav-tabs li a img {
  vertical-align: middle;
  margin-bottom: 3px;
  cursor: pointer;
}

.chat-app .nav-tabs li:first-child {
  margin-left: 5px;
}


.chat-app .bg {
  background-color: #fafafa;
  position: absolute;
  top: 1px;
  left: 1px;
}

.chat-app .panel-body {
  overflow: visible;
}

.chat-app .cooldown {
  height: 21px;
}

.chat-app .messages {
  overflow-y: auto;
  margin-bottom: 5px;
}

.chat-app .messages p {
  margin-bottom: 0;
}

.chat-app .messages .time {
  color: #8ab
}

.chat-app .messages .system {
  color: #979797;
}

.chat-app .messages .user {
  color: #be780a;
}

.chat-app .bold {
  font-weight: bold;
}

.chat-app .users p {
  line-height: 20px;
  margin: 10px 10px 10px 0;
}

.chat-app .users a {
  color: #be780a;
  cursor: pointer;
}

.chat-app .users ul {
  margin: 0;
  padding: 0;
  list-style: none inside none;
  overflow-y: auto;
}

.chat-app .user ul > li:first-child {
  margin-left: 10px;
}

.chat-app .popover-smiles {
  margin-top: 5px;
}

.chat-app .popover-smiles .panel-body {
  text-align: justify;
}

.chat-app .popover-smiles .panel-body > span {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  height: 22px;
  margin-right: 9px;
  margin-bottom: 5px;
  width: 22px;
}

@media (min-width: 100px) {
  .container {
    max-width: 970px;
  }

  .col-md-8 {
    float: left;
    width: 66.666666666666%
  }

  .col-md-4 {
    float: left;
    width: 33.333333333333%
  }
}

@media (min-width: 970px) {
  .container {
    max-width: 970px;
  }

  .col-md-8 {
    float: left;
    width: 66.66666666666666%;
  }

  .col-md-4 {
    float: left;
    width: 33.33333333333333%
  }
}